.card-container {
  display: flex;
  justify-content: flex-start;
}
.cards-section-container {
  display: grid;
  grid-gap: 50px;
  overflow: hidden;
  margin: 5% auto;
  max-width: 90%;
  padding: 0 5%;
  grid-template-columns: auto;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.language-details-container {
  display: flex;
}
.language-details-container div {
  padding: 0 2px;
}
.views-details-container {
  display: flex;
  color: rgb(23, 156, 228);
  margin-bottom: 0.5rem;
}
.image-container img {
  width: 100px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 3px 5px gray;
}
.image-container {
    padding: 0.5rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-btn {
  color: #fff;
  background-color: rgb(23, 156, 228);
  width: 92%;
  padding: 0.8rem 1.2rem;
  text-align: center;
}
.cards-section-container-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid gray;
  width: 90%;
  justify-content: flex-end;
}
span {
  display: flex;
  color: gray;
  font-weight: 600;
}
.details-container-inner {
  display: flex;
  margin-bottom: 0.5rem;
}
.details-container {
  width: 100;
}
.details-container p {
  margin: 1rem 0;
  font-size: 1.5rem;
}
.voting-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  justify-content: space-between;
}
.voting-container svg {
  font-size: 3.5rem;
}
.voting-container p {
  font-size: 1.5rem;
  text-align: center;
}
.voting-container-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.details-container-inner-answer {
  margin-left: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .cards-section-container {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 960px) {
  .cards-section-container {
    grid-template-columns: auto auto auto;
  }
}
/* dashboard */
.dashboard-container {
  padding: 0 5%;
  max-width: 90%;
  margin: 5% 0;
}
.dashboard-title {
  text-align: center;
}
